body{
  /*background-image: url("https://inktart.files.wordpress.com/2012/10/40-dirty-paper-background-lrg.jpg");*/
  /*background-size: cover;*/
}

.title{
  font-weight: bold;
  font-size: 25px;
}
#inv{
  text-align: center;
  border: solid black 5px;
}
button{
  display:block;
  width: auto;
  margin: 0px auto;
}
