/*body{
  background-color: maroon;
}*/

.title{
  font-weight: bold;
  font-size: 25px;
}
#inv{
  text-align: center;
  border: solid;
}
/*button{
  display:block;
  width: auto;
  margin: 0px auto;
}*/
